:root {
	font-size: 20px;
	font-family: serif;
}
.wrap {
	padding: 0 2em;
	min-height: calc(100vh - 10em);
}
header {
	background-color: #282c34;
	padding: 1.2em;
}

header a {
	margin-right: 0.8em;
	color: #fff;
	text-decoration: none;
}

footer {
	background-color: #282c34;
	padding: 0.5em 1em;
	color: #fff;
	margin-top: 2em;
	user-select: none;
	font-size: 0.75em;
}
footer p {
	text-align: end;
}

.active-link {
	color: #61dafb;
	cursor: default;
}
.button_inner {
	width: 100%;
	display: flex;
	justify-content: end;
}
.goBack {
	padding: 0.5em 1.2em;
	font-size: 1rem;
	border-radius: 0.5em;
	background-color: lightsteelblue;
}
.form__wrap {
	width: 100%;
	display: flex;
	justify-content: center;
}
form {
	/* border: solid 1px gray; */
	border-radius: 0.5em;
	padding: 1em;
	width: 300px;
	background-color: lightgray;
	box-shadow: 2px 2px 8px 2px gray;
}

form input {
	width: 98%;
	height: 2.5em;
	margin-bottom: 1em;
	border-radius: 6px;
	border: none;
}
form input::placeholder {
	padding-left: 1em;
}
form button {
	height: 2.5em;
	width: inherit;
	background-color: #61dafb;
	border: none;
	border-radius: 6px;
}

.newslist {
	text-decoration: none;
	color: #282c34;
}
.newslist:hover {
	text-decoration: underline;
}

.newslist li {
	margin-bottom: 0.2em;
}
